.section-container {
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
  max-width: 920px;
  width: 100%;
  display: block;
}
#album-info {
  max-height: 600px;
  display: flex;
  justify-content: center;
}
#album-info > img {
  margin-right: 0;
  width: auto;
  overflow-x: hidden;
  align-self: flex-start;
  border-radius: .25rem 0 0 .25rem;
}
.album-jumbotron {
  min-height: 100%;
  text-align: left;
  align-self: stretch;
  flex-grow: 1;
  margin: 0;
  width: auto;
  border-radius: 0 .25rem .25rem 0;
}
.song-container {
  padding-top: .5rem;
  padding-bottom: 1rem;
  width: 100%;
}
.song-container #song-list {
  width: 100%;
}

.song-row {
  display: flex;
  background-color: #E9ECEF;
}
#song-list .col-play {
  width: 60px;
  align-self: flex-start;
}
#song-list .col-title {
  flex-grow: 2;
  align-self: center;
  text-align: left;
  padding-left: 20px;
}
#song-list .col-time {
  align-self: flex-start;
  padding-right: 40px;
}
